[submodule "submodules/hook_parallels"]
	path = submodules/hook_parallels
	url = https://github.com/trueToastedCode/ParallelsLab.git
	branch = hook-parallels
[submodule "submodules/insert_dylib"]
	path = submodules/insert_dylib
	url = https://github.com/tyilo/insert_dylib.git
[submodule "submodules/rd_route"]
	path = submodules/rd_route
	url = https://github.com/trueToastedCode/rd_route.git
